@import "../../styles.scss";
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 11.2rem;
	.max-width {
		max-width: $max-width;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1500px) {
	.container {
		.max-width {
			max-width: 95%;
		}
	}
}
