@import "../../../../styles.scss";
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $cream;
    padding: 3rem 0rem;
    margin-bottom: 11.2rem;
    z-index: 4;
}

.navbar-container {
    max-width: 192rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 3rem;
        background-color: $cream;
        width: 6.6667rem;
    }
}
.burger-menu {
    background-image: url("../../../../assets/img/burger-menu/burger-menu-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: $cream;
    height: 4rem;
    width: 3.2rem;
}

@media (max-width: 1920px) {
    .navbar-container {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .navbar-container {
        width: 100%;
        padding: 0 10px;
    }
}
