@import "../../../../styles.scss";

ul {
    list-style: none;
}

.menu-container {
    width: 100%;
    height: 100%;
    background-image: url("../../../../assets/img/burger-menu/backround.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0rem 65rem;
}
