@import "../../../../styles.scss";

a {
    &:hover {
        color: $black;
    }
    &:active {
        color: $cream;
    }
}

.project-container {
    position: relative;
    width: 100%;
    height: 46rem;
    margin-bottom: 7rem;
    &:hover {
        .black-frame-box {
            opacity: 1;
        }
        .arrow-box {
            animation: arrowAnimation 125ms ease-in-out forwards;
            transition: right;
        }
        .project-img {
            animation: greyImgAnimation 75ms ease-in-out forwards;
        }
        .disc-box {
            animation: fadeInDescription 125ms ease-in-out forwards;
        }
    }
}

.project-container-r {
    &:hover {
        .arrow-box-r {
            animation: arrowRightAnimation 125ms ease-in-out forwards !important;
            transition: left !important;
        }
        .disc-box-r {
            animation: fadeInRightDescription 125ms ease-in-out forwards !important;
        }
    }
}

.img-view {
    width: 50%;
    height: fit-content;
    position: relative;
}

.black-frame-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    max-width: 62rem;
    max-height: 39.3rem;
    width: 100%;
    height: 100%;
    border: 0.4rem solid $black;
    opacity: 0;
    .arrow-box {
        > svg {
            width: 100%;
            height: 100%;
            max-width: 6.8rem;
            max-height: 6.8rem;
        }
        position: absolute;
        right: -3.7rem;
    }
}

.black-frame-box-r {
    left: -2rem;
    right: none;
    .arrow-box-r {
        left: -2rem;
        right: auto;
    }
}

.project-img {
    max-width: 62rem;
    max-height: 39.3rem;
    width: 100%;
    height: auto;
    filter: grayscale(1);
}

.project-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 14rem;
    .disc-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        flex: 1;
        width: auto;
        height: 100%;
    }
}

.project-box-r {
    flex-direction: row-reverse;
    .disc-container-r {
        align-items: flex-start;
    }
}

.disc-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-76.1rem);
    p {
        margin-top: 1.5rem;
        margin-bottom: 3.5rem;
        font-size: 1.6rem;
    }
}

.button-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
}

@keyframes arrowAnimation {
    0% {
        right: -3.7rem;
        transform: scale(1) rotate(0);
    }
    100% {
        right: -4.3rem;
        transform: scale(1.5) rotate(-135deg);
    }
}

@keyframes arrowRightAnimation {
    0% {
        left: -3rem;
        transform: scale(1) rotate(0);
    }
    100% {
        left: -4rem;
        transform: scale(1.5) rotate(135deg);
    }
}

@keyframes greyImgAnimation {
    0% {
        filter: grayscale(1);
    }
    100% {
        filter: grayscale(0);
    }
}

@keyframes fadeInDescription {
    0% {
        opacity: 0;
        transform: translateX(-76.1rem);
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes fadeInRightDescription {
    0% {
        opacity: 0;
        transform: translateX(76.1rem);
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@media screen and (max-width: 1300px) {
    .project-box {
        gap: 6rem;
    }
    @keyframes arrowAnimation {
        0% {
            right: -3.7rem;
            transform: scale(1) rotate(0);
        }
        100% {
            right: -4.3rem;
            transform: scale(1.3) rotate(-135deg);
        }
    }

    @keyframes arrowRightAnimation {
        0% {
            left: -3rem;
            transform: scale(1) rotate(0);
        }
        100% {
            left: -4rem;
            transform: scale(1.3) rotate(135deg);
        }
    }
}

@media screen and (max-width: 1204px) {
}
