@import "../../../styles.scss";

.arrow-left-box {
    display: flex;
    height: 30rem;
    padding: 5rem 18rem 0rem 0rem;
    justify-content: flex-end;
    align-items: center;
}

.arraow-img {
    width: 23.6rem;
    height: 23.5rem;
}

.arrow-left-animation {
    background-image: url("../../../assets/img/arrows/arrow-left-0.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 23.6rem;
    height: 23.5rem;
    animation: arrowAnimation 125ms steps(6) 0.5s forwards;
    opacity: 1;
}

@keyframes arrowAnimation {
    0%,
    16.66% {
        background-image: url("../../../assets/img/arrows/arrow-left-0.svg");
    }
    16.67%,
    33.33% {
        background-image: url("../../../assets/img/arrows/arrow-left-0.svg");
    }
    33.34%,
    50% {
        background-image: url("../../../assets/img/arrows/arrow-left-1.svg");
    }
    50.01%,
    66.66% {
        background-image: url("../../../assets/img/arrows/arrow-left-1.svg");
    }
    66.67%,
    83.33% {
        background-image: url("../../../assets/img/arrows/arrow-left-2.svg");
    }
    83.34%,
    100% {
        background-image: url("../../../assets/img/arrows/arrow-left-2.svg");
    }
}
