@import "../../../styles.scss";

.arrow-box {
    display: flex;
    height: 30rem;
    padding: 5rem 18rem 0rem 0rem;
    justify-content: flex-end;
    align-items: center;
}

.arraow-img {
    width: 23.6rem;
    height: 23.5rem;
}

.arrow-animation {
    svg {
        width: 25rem;
        height: 25rem;
    }

    opacity: 1;
}
@media screen and (max-width: 992px) {
    .arrow-box {
        padding: 0rem;
        justify-content: center;
        align-items: center;
    }
}
