@import "../../../styles.scss";

.arrow-box {
	display: flex;
	height: 30rem;
	padding: 5rem 18rem 0rem 0rem;
	justify-content: flex-end;
	align-items: center;
}

.arraow-img {
	width: 23.6rem;
	height: 23.5rem;
}

[data-aos="move-left-animation"] {
	transition-property: transform;
	transform: translate(6rem, -6rem);
	&.aos-animate {
		transform: translate(-4rem, 4rem);
	}
	@media screen and (max-width: 992px) {
		transform: translate(5rem, -3rem);
		&.aos-animate {
			transform: translate(0, 0);
		}
	}
}

.arrow-container {
	svg {
		width: 25rem;
		height: 25rem;
	}

	opacity: 1;
}

@media screen and (max-width: 992px) {
	.arrow-box {
		padding: 0rem;
		justify-content: center;
		align-items: center;
	}
	.arrow-container {
		svg {
			width: 30vw;
			height: 30vw;
		}
	}
}

@media screen and (max-width: 690px) {
	.arrow-container {
		svg {
			width: 35vw;
			height: 35vw;
		}
	}
}

@media screen and (max-width: 480px) {
	.arrow-container {
		svg {
			width: 40vw;
			height: 40vw;
		}
	}
}

@media screen and (max-width: 350px) {
	.arrow-container {
		svg {
			width: 50vw;
			height: 50vw;
		}
	}
}
