<h2 class="section-header-font">About me</h2>
<div class="about-me-box">
    <div class="left-content">
        My ability to combine creativity with logical thinking enables me to turn innovative ideas into high-quality web projects. As an aspiring junior web developer, I
        am looking for exciting challenges.
        <br />
        <br />
        If you think I could be a good fit for your projects, I look forward to hearing from you!
        <div class="button-box">
            <a href="#footer">
                <button class="main-button">Let's talk</button>
            </a>
        </div>
    </div>
    <div class="profile-img-box">
        <div class="black-frame-box"></div>
        <img src="assets/img/profile/mario-winter-DSC00444.jpg" alt="Profile Image" />
    </div>
</div>
