@import "../../../styles.scss";

h2 {
    display: flex;
    padding-bottom: 5.2rem;
    width: max-content;
}

.about-me-box {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    .left-content {
        display: flex;
        flex-direction: column;
        gap: 5.8rem;
        width: 61rem;
    }
}

.button-box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.profile-img-box {
    position: relative;
    transform: translateY(-2rem);
    max-width: 40rem;
    max-height: 40rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.black-frame-box {
    position: absolute;
    z-index: 2;
    margin: 2rem 0rem 0rem 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0.4rem solid $black;
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    h2 {
        font-size: 12rem;
    }
}

@media screen and (max-width: 992px) {
    h2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-me-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 7rem;
    }

    .profile-img-box {
        position: relative;
        transform: translateY(0rem);
    }

    .button-box {
        display: none;
    }
}
