<h2 class="section-header-font">{{ translate("ABOUTME") }}</h2>
<div class="about-me-box">
    <div class="left-content">
        {{ translate("ABOUT_1") }}
        <br />
        <br />
        {{ translate("ABOUT_2") }}
        <div class="button-box">
            <a href="#footer">
                <button class="main-button">{{ translate("TALK") }}</button>
            </a>
        </div>
    </div>
    <div class="profile-img-box">
        <div class="black-frame-box"></div>
        <img src="assets/img/profile/mario-winter-DSC00444.jpg" alt="Profile Image" />
    </div>
</div>
