<h2 class="section-header-font">{{ "ABOUTME.ABOUTME" | translate }}</h2>
<div class="about-me-box">
	<div class="left-content">
		{{ "ABOUTME.ABOUT1" | translate }}
		<br />
		<br />
		{{ "ABOUTME.ABOUT2" | translate }}
		<div class="button-box">
			<a href="#footer">
				<button class="main-button">{{ "ABOUTME.TALK" | translate }}</button>
			</a>
		</div>
	</div>
	<div class="profile-img-box">
		<div class="black-frame-box" data-aos="fade"></div>
		<img src="assets/img/profile/mario-winter-DSC00444.jpg" alt="Profile Image" />
	</div>
</div>
