<div class="forms-container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="form-fild">
            <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="firstname" placeholder="Your name" required />
            <div class="input-header">Your name</div>
        </div>
        <div class="error-message">
            @if (!name.valid && name.touched) {
            <span>Your name is required</span>
            }
        </div>
        <div class="form-fild">
            <input
                #email="ngModel"
                [(ngModel)]="contactData.email"
                type="email"
                id="email"
                name="email"
                placeholder="Your email"
                required
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            />
            <div class="input-header">Your email</div>
        </div>
        <div class="error-message">
            @if (!email.valid && email.touched) {
            <span>Your email is required</span>
            }
        </div>

        <div class="form-fild">
            <textarea
                #message="ngModel"
                minlength="4"
                [(ngModel)]="contactData.message"
                id="subject"
                name="subject"
                placeholder="Your message"
                style="height: 200px"
                required
            ></textarea>
            <div class="input-header">Your message</div>
            <div class="error-message">
                @if (!message.valid && message.touched) {
                <span>Your message is empty</span>
                }
            </div>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="myCheckbox" class="custom-checkbox" [(ngModel)]="isPrivacyAccepted" name="privacyPolicy" required />
            <label for="myCheckbox"></label>
            <div>I've read the <span>privacy policy</span> and agree to the processing of my data as outlined.</div>
        </div>
        <div class="error-message">
            @if (!isPrivacyAccepted) {
            <div>Please accept the privacy policy</div>
            }
        </div>

        <input class="message-btn" type="submit" value="Send message" [disabled]="!isPrivacyAccepted" />
    </form>
</div>
