@import "../../../../styles.scss";

@mixin textbox($pud: 1.5rem, $plr: 2.5rem, $h: 5rem, $ai: center, $gp: 1rem) {
    display: flex;
    color: $cream;
    border-bottom: 0.2rem solid $cream;
    border-left: 0.2rem solid $black;
    border-right: 0.2rem solid $black;
    border-top: 0.2rem solid $black;
    background: $black;
    font-size: 1.6rem;
    width: 61.7rem;
    height: $h;
    padding: $pud $plr;
    align-items: $ai;
    gap: $gp;
}

@mixin errorMessage() {
    color: $red;
    font-family: Overpass;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

@mixin inputHeader() {
    position: absolute;
    top: -0.7rem;
    left: 2rem;
    padding: 0 0.5rem;
    color: $cream;
    font-family: Overpass;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    background-color: $black;
}

.forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: $cream;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.form-fild {
    position: relative;
    .input-header {
        display: none;
        @include inputHeader();
    }
}

input[type="text"],
[type="email"] {
    @include textbox($pud: 1.5rem, $plr: 2.5rem, $h: 5rem, $ai: center, $gp: 1rem);
    margin-bottom: 0.8rem;
    outline: none;
    &:focus {
        border: 0.2rem solid $cream;
        & + .input-header {
            display: block;
        }
    }
    &:hover {
        border: 0.4rem solid $cream;
        padding: 1.3rem 2.3rem 1.3rem 2.3rem;
    }
}

input[type="text"]:valid,
[type="email"]:valid {
    background-image: url("../../../../assets/icons/contact-form/done.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
}

input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder {
    opacity: 0;
}

textarea {
    @include textbox($pud: 1.5rem, $plr: 2.5rem, $h: 20.2rem, $ai: flex-start, $gp: 1rem);
    max-width: 61.7rem;
    min-width: 61.7rem;
    position: relative;
    margin-bottom: 0.8rem;
    outline: none;
    &:focus {
        border: 0.2rem solid $cream;
        & + .input-header {
            display: block;
        }
    }
    &:hover {
        border: 0.4rem solid $cream;
        padding: 1.3rem 2.3rem 1.3rem 2.3rem;
    }
}

textarea:valid {
    background-image: url("../../../../assets/icons/contact-form/done.svg");
    background-repeat: no-repeat;
    background-position: 95% 5%;
}

textarea:focus::placeholder {
    opacity: 0;
}

.checkbox-wrapper {
    display: flex;
    height: 2.7rem;
    position: relative;
    width: 100%;
    align-items: center;
    margin-top: 0.8rem;
    div {
        color: $cream;
        font-family: Overpass;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        span {
            color: $orange;
            padding: 0.5rem 0.7rem;
        }
    }

    .custom-checkbox {
        display: none;
    }

    label {
        width: 2.4rem;
        height: 2.4rem;
        display: inline-block;
        margin-right: 0.4rem;
        cursor: pointer;
        background-image: url("../../../../assets/img/contactform/input-default.svg");
        background-size: cover;
        transition: background-image 75ms ease;
    }

    input:checked + label {
        background-image: url("../../../../assets/img/contactform/input-checked.svg");
    }
}

.checkbox-wrapper {
    &:hover {
        div {
            span {
                font-weight: 700;
                padding: 0.5rem 0.459rem;
            }
        }
        label {
            background-image: url("../../../../assets/img/contactform/input-default-hover.svg");
        }
        input:checked + label {
            background-image: url("../../../../assets/img/contactform/input-checked-hover.svg");
        }
    }
}

.error-message {
    @include errorMessage();
    width: 100%;
    height: 1.439rem;
    margin-bottom: 1rem;
    text-align: start;
}
