<div class="forms-container">
	<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
		<div class="form-fild">
			<input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="firstname" placeholder="{{ 'CONTACT.NAME_LABEL' | translate }}" required />
			<div class="input-header">{{ "CONTACT.NAME_LABEL" | translate }}</div>
			<div class="error-message">
				@if (!name.valid && name.touched) {
				<span>{{ "CONTACT.ERROR_NAME" | translate }}</span>
				}
			</div>
		</div>

		<div class="form-fild">
			<input
				#email="ngModel"
				[(ngModel)]="contactData.email"
				type="email"
				id="email"
				name="email"
				placeholder="{{ 'CONTACT.EMAIL_LABEL' | translate }}"
				required
				pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
			/>
			<div class="input-header">{{ "CONTACT.EMAIL_LABEL" | translate }}</div>
			<div class="error-message">
				@if (!email.valid && email.touched) {
				<span>{{ "CONTACT.ERROR_MAIL" | translate }}</span>
				}
			</div>
		</div>

		<div class="form-fild">
			<textarea
				#message="ngModel"
				minlength="4"
				[(ngModel)]="contactData.message"
				id="subject"
				name="subject"
				placeholder="{{ 'CONTACT.MESSAGE_LABEL' | translate }}"
				style="min-height: 200px"
				required
			></textarea>
			<div class="input-header">{{ "CONTACT.MESSAGE_LABEL" | translate }}</div>
			<div class="error-message">
				@if (!message.valid && message.touched) {
				<span>{{ "CONTACT.ERROR_MESSAGE" | translate }}</span>
				}
			</div>
		</div>
		<div class="checkbox-wrapper">
			<input type="checkbox" id="myCheckbox" class="custom-checkbox" [(ngModel)]="isPrivacyAccepted" name="privacyPolicy" required />
			<label for="myCheckbox"></label>
			<div>
				{{ "CONTACT.PRIVACY1" | translate }}
				<a href="privacy"
					><span [ngStyle]="fixPrivacyPolicyHover()">{{ "CONTACT.PRIVACY2" | translate }}</span></a
				>
				{{ "CONTACT.PRIVACY3" | translate }}
			</div>
		</div>

		<input
			class="message-btn"
			type="submit"
			value="{{ 'CONTACT.SUBMIT_BUTTON' | translate }}"
			[disabled]="!isPrivacyAccepted || contactForm.invalid"
			[attr.aria-disabled]="!isPrivacyAccepted || contactForm.invalid"
		/>
	</form>
	@if (messageSent) {
	<div class="success-message">
		{{ "CONTACT.SUCCESS_MESSAGE" | translate }}
	</div>
	}
</div>
