<div class="forms-container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="form-fild">
            <input [(ngModel)]="contactData.name" type="text" id="name" name="firstname" placeholder="Your name" required />
        </div>
        <div class="form-fild">
            <input
                [(ngModel)]="contactData.email"
                type="email"
                id="email"
                name="email"
                placeholder="Your email"
                required
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            />
        </div>

        <div class="form-fild">
            <textarea
                #message="ngModel"
                minlength="4"
                [(ngModel)]="contactData.message"
                id="subject"
                name="subject"
                placeholder="Your message"
                style="height: 200px"
                required
            ></textarea>
            @if (!message.valid && message.touched) {
            <span>Please enter a message</span>
            }
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="myCheckbox" class="custom-checkbox" />
            <label for="myCheckbox"></label>
            <div>I've read the <span>privacy policy</span> and agree to the processing of my data as outlined.</div>
        </div>

        <input class="message-btn" type="submit" value="Submit" />
    </form>
</div>
