<footer>
    <div class="footer-container">
        <h2 class="footer-header-font">Say Hi!</h2>
        <div class="contact-box">
            <h3 class="footer-sub-header-font">Want to discuss a new project?</h3>
            <p class="secondary-txt-font">Say hello! let's discuss your ideas and make it happen</p>
            <app-contactform></app-contactform>
        </div>
        <div class="info-container">
            <div class="logo-box">
                <img src="../../../../assets/icons/mw-logo-cream.svg" alt="MW Logo" />
                <div class="secondary-txt-font">© Mario Winter 2024</div>
            </div>
            <div class="arrow-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="56" viewBox="0 0 40 56" fill="none">
                    <path id="morph_arrowhead" d="M37.8525 17.125L19.9263 2.99878L2.00011 17.125" stroke="#FFFCF3" stroke-width="4" />
                    <path id="morph_stroke" d="M20 55L20 3" stroke="#FFFCF3" stroke-width="4" />
                </svg>
            </div>
            <div class="social-media">
                <a href="https://github.com/MarioWinter" target="_blank" rel="noopener noreferrer">
                    <img class="git" src="../../../../assets/icons/social-media/github.svg" alt="Git Hub" />
                </a>
                <a href="mailto:mariowinter.sg@gmail.com" target="_blank">
                    <img class="mail" src="../../../../assets/icons/social-media/email.svg" alt="E-Mail" />
                </a>
                <a href="https://www.linkedin.com/in/mario-winter-39997b282/" target="_blank" rel="noopener noreferrer">
                    <img class="linked-in" src="../../../../assets/icons/social-media/linkedin.svg" alt="LinkedIn" />
                </a>
            </div>
            <div class="legal-notice-box">
                <div class="legal-notice">Legal notice</div>
                <div class="ln-border-buttom"></div>
            </div>
        </div>
    </div>
</footer>
