<footer>
    <div class="footer-container">
        <h2 class="footer-header-font">{{ translate("SAY_HI") }}</h2>
        <div class="contact-box">
            <h3 class="footer-sub-header-font">{{ translate("FOOTER_SUB") }}</h3>
            <p class="secondary-txt-font">{{ translate("FOOTER_TXT") }}</p>
            <app-contactform></app-contactform>
        </div>
        <div class="info-container">
            <div class="logo-box">
                <a href=""><img src="../../../../assets/icons/mw-logo-cream.svg" alt="MW Logo" /></a>
                <div class="secondary-txt-font">© Copyright Mario Winter 2024</div>
            </div>

            <div (click)="scrollToTop()" class="arrow-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="56" viewBox="0 0 40 56" fill="none">
                    <path id="morph_arrowhead" d="M37.8525 17.125L19.9263 2.99878L2.00011 17.125" stroke="#FFFCF3" stroke-width="4" />
                    <path id="morph_stroke" d="M20 55L20 3" stroke="#FFFCF3" stroke-width="4" />
                </svg>
            </div>

            <div class="social-media">
                <a href="https://github.com/MarioWinter" target="_blank" rel="noopener noreferrer">
                    <img class="git" src="../../../../assets/icons/social-media/github.svg" alt="Git Hub" />
                </a>
                <a href="mailto:{{ myprojectList.emailAddress }}" target="_blank">
                    <img class="mail" src="../../../../assets/icons/social-media/email.svg" alt="E-Mail" />
                </a>
                <a href="https://www.linkedin.com/in/mario-winter-39997b282/" target="_blank" rel="noopener noreferrer">
                    <img class="linked-in" src="../../../../assets/icons/social-media/linkedin.svg" alt="LinkedIn" />
                </a>
            </div>
            <div class="imprint-box">
                <a class="imprint" href="imprint">{{ translate("IMPRINT") }}</a>
                <div class="ln-border-buttom"></div>
            </div>
        </div>
    </div>
</footer>
