/* syne-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/syne/syne-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* syne-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/syne/syne-v22-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* syne-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/syne/syne-v22-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* syne-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/syne/syne-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* syne-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/syne/syne-v22-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/overpass/overpass-v13-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/overpass/overpass-v13-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/overpass/overpass-v13-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/overpass/overpass-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/overpass/overpass-v13-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/overpass/overpass-v13-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/overpass/overpass-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/overpass/overpass-v13-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/overpass/overpass-v13-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  text-decoration: none;
  border: unset;
  cursor: default;
}

.title-font {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Syne;
  font-size: 12.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.32rem;
}

.section-header-font {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Syne;
  font-size: 7.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0.78rem;
}
.section-header-font:hover {
  color: #f90;
}

.portfolio-counter-font {
  color: #000;
  text-align: right;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Syne;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0rem;
  width: 100%;
}

.project-header-font {
  color: #000;
  text-align: left;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Syne;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0rem;
}

.secondary-txt-font {
  color: #f90;
  text-align: left;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Overpass;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0rem;
  margin-top: 1.5rem;
}

.menu-item-font {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Syne;
  font-size: 9.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.24rem;
}

.footer-header-font {
  color: #fffcf3;
  text-align: left;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Syne;
  font-size: 7.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0.78rem;
}

.footer-sub-header-font {
  color: #f90;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Overpass;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20rem;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #f90 #fffcf3;
  font-size: 0.625em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0rem;
  padding: 0rem;
  background-color: #fffcf3;
  color: #000;
  font-family: Overpass;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  overflow-x: hidden;
}

h1 {
  margin: 0rem;
}

h2 {
  margin: 0rem;
}

h3 {
  margin: 0rem;
}

p {
  margin: 0rem;
}

a {
  color: #000;
  cursor: pointer;
  font-family: Overpass;
  font-style: normal;
  line-height: 100%;
  letter-spacing: -0.575px;
}
a:hover {
  color: #f90;
}

.main-button {
  display: inline-flex;
  padding: 2rem 6rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 0.4rem solid #000;
  background-color: transparent;
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Overpass;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0rem;
  cursor: pointer;
  transition: all 75ms ease-in-out;
}
.main-button:hover {
  padding: 2rem 8rem;
  box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(0, 0, 0, 0.15);
  font-weight: 700;
}
.main-button:active {
  font-weight: 400;
  padding: 2rem 8rem;
  box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(0, 0, 0, 0.15);
  background-color: #000;
  color: #fffcf3;
}

.second-button {
  display: inline-flex;
  padding: 2rem 6rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 0.4rem solid #fffcf3;
  color: #fffcf3;
  background-color: transparent;
  color: #fffcf3;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Overpass;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0rem;
  cursor: pointer;
  transition: all 75ms ease-in-out;
}
.second-button:hover {
  padding: 2rem 8rem;
  box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(0, 0, 0, 0.15);
  font-weight: 700;
}
.second-button:active {
  font-weight: 400;
  padding: 2rem 8rem;
  box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(0, 0, 0, 0.15);
  background-color: #fffcf3;
  color: #000;
}

.message-btn {
  border: 0.4rem solid #bbb;
  background-color: transparent;
  box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 2rem 6rem;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
  color: #bbb;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Overpass;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0rem;
  cursor: pointer;
  transition: all 75ms ease-in-out;
}
.message-btn:hover:not(:disabled) {
  padding: 2rem 8rem;
  font-weight: 700;
}
.message-btn:active:not(:disabled) {
  font-weight: 400;
  padding: 2rem 8rem;
  background-color: #fffcf3;
  border: 0.4rem solid #fffcf3;
  color: #000;
}
.message-btn:disabled {
  cursor: not-allowed;
  border: 0.4rem solid #bbb;
  opacity: 0.3;
  box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 992px) {
  html {
    font-size: 0.6em;
  }
  .section-header-font {
    font-size: 7.8vw;
  }
  .portfolio-counter-font {
    font-size: 4.8vw;
  }
  .project-header-font {
    font-size: 4.5vw;
  }
  .secondary-txt-font {
    font-size: 3.4vw;
  }
  .footer-sub-header-font {
    font-size: 3.2vw;
  }
  .main-button {
    padding: 2vw 5vw;
    border: 0.5vw solid #000;
    font-size: 2.5vw;
  }
  .main-button:hover {
    padding: 2vw 8vw;
  }
  .main-button:active {
    padding: 2vw 8vw;
  }
}
@media screen and (max-width: 690px) {
  .section-header-font {
    font-size: 7.4vw;
  }
  .portfolio-counter-font {
    font-size: 5.8vw;
  }
  .project-header-font {
    font-size: 5.5vw;
  }
  .secondary-txt-font {
    font-size: 4vw;
  }
  .footer-header-font {
    font-size: 7.8vw;
  }
  .footer-sub-header-font {
    font-size: 5.2vw;
  }
}
@media screen and (max-width: 480px) {
  .section-header-font {
    font-size: 7vw;
  }
  .portfolio-counter-font {
    font-size: 7.8vw;
    padding: 0vw 2vw;
  }
  .project-header-font {
    font-size: 7.5vw;
  }
  .secondary-txt-font {
    font-size: 5.3vw;
  }
  .footer-header-font {
    font-size: 9.8vw;
  }
  .footer-sub-header-font {
    font-size: 7.2vw;
  }
  .main-button {
    padding: 3vw 7vw;
    border: 0.7vw solid #000;
    font-size: 5.3vw;
  }
  .main-button:hover {
    padding: 3vw 10vw;
  }
  .main-button:active {
    padding: 3vw 10vw;
  }
}
@media screen and (max-width: 350px) {
  .section-header-font {
    font-size: 6.5vw;
  }
  .portfolio-counter-font {
    font-size: 8.8vw;
  }
  .project-header-font {
    font-size: 7.8vw;
  }
  .footer-header-font {
    font-size: 11.8vw;
  }
  .footer-sub-header-font {
    font-size: 7.2vw;
  }
}
.legal-notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15rem;
  padding: 0 15rem;
}
.legal-notice div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  height: 100%;
  max-width: 50rem;
  width: 100%;
}

.portfolio-counter-font {
  text-align: center;
}

h2,
h3,
h4 {
  padding-top: 1rem;
}

p {
  margin: 0;
  padding: 1rem 0 0 0;
}

@media screen and (max-width: 690px) {
  .legal-notice {
    margin-top: 15rem;
    padding: 0 0rem;
  }
  .legal-notice div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    max-width: 50rem;
    width: 100%;
  }
  p {
    font-size: 3vw;
  }
}
@media screen and (max-width: 480px) {
  p {
    font-size: 5vw;
  }
}/*# sourceMappingURL=legal-notice.component.css.map */