<div class="legal-notice">
    <h1 class="section-header-font">{{ translate("IMPRINT") }}</h1>
    <div>
        <br />
        <p>
            Mario Winter<br />
            Au&szlig;enliegend 4<br />
            61209 Echzell-Bingenheim
        </p>
        <br />
        <h2 class="portfolio-counter-font">Contact</h2>
        <p>Phone: +49 160 1546188<br /></p>

        <p class="email">Email: {{ myprojectList.emailAddress }}</p>

        <p>Source: <a href="https://www.e-recht24.de">eRecht24</a></p>
    </div>
</div>
