<div class="legal-notice">
    <h1 class="section-header-font">Legal Notice</h1>
    <div>
        <br />
        <p>
            Mario Winter<br />
            Au&szlig;enliegend 4<br />
            61209 Echzell-Bingenheim
        </p>
        <br />
        <h2>Contact</h2>
        <p>
            Phone: +491601546188<br />
            Fax: -<br />
            Email: {{ myprojectList.emailAddress }}
        </p>

        <p>Source: <a href="https://www.e-recht24.de">eRecht24</a></p>
    </div>
</div>
