<div class="header-box">
    <h2 class="section-header-font">Portfolio</h2>
    <p>{{ translate("PORTFOLIO") }}</p>
</div>
<div>
    @for (project of myprojectList.projectData; track project; let i = $index) {
    <app-project
        [allProjects]="myprojectList.projectData.length"
        [projectNr]="i + 1"
        [name]="project.name"
        [stack]="project.stack"
        [img]="project.img"
        [description]="project.description"
        [description_de]="project.description_de"
        [github]="project.github"
        [link]="project.link"
        [isRight]="(i + 1) % 2 == 0"
    ></app-project>
    }
</div>
