@import "../../../styles.scss";

.header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.6rem;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

.title-underline {
    width: 62.8rem;
    height: 0.4rem;
    background-color: $black;
}

.name {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: $orange;
    text-align: center;
    font-family: Overpass;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.12rem;
}
