<div class="header-box">
    <h1 class="title-font">{{ translate("MAINTITLE") }}</h1>
    <div>
        <div class="title-underline"></div>
        <div class="name">Mario Winter</div>
    </div>
</div>
<div class="button-box">
    <a href="#footer">
        <button class="main-button">Send a Message</button>
    </a>
</div>
<div class="more-info-box">
    <div class="link-box">
        <a href="mailto:{{ myprojectList.emailAddress }}" target="_blank">{{ myprojectList.emailAddress }}</a>
    </div>
    <div class="scroll-down-box">
        <div class="arrow-slideshow">
            <svg xmlns="http://www.w3.org/2000/svg" width="39" height="79" viewBox="0 0 39 79" fill="none">
                <path d="M1.2949 61.873L19.2211 75.9993L37.1474 61.8731" stroke="#000" stroke-width="4" />
                <path d="M19 0L19 76" stroke="#000" stroke-width="4" />
            </svg>
        </div>
        <div class="text">{{ translate("SCROLL") }}</div>
    </div>
</div>
